<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>Three-Tier App</display-name>

    <listener>
        <listener-class>ua.com.lab.web.AppContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>ua.com.lab.web.servlets.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/books/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>ua.com.lab.web.servlets.CommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/comments/*</url-pattern> </servlet-mapping>

</web-app>